<div class="container">
  <div clas="row justify-content-center">
    <div *ngIf="timer" id="clockAlarm">
      <h3>Current Time:</h3>
        <p class="clock">{{timer.hours}}<span class="colon">:</span>{{timer.minutes}}<span class="colon">:</span>{{timer.seconds}}</p>
    </div>
    <div class="form-group row justify-content-center">
        <label class="hours">
          <input type="time" class="form-control input-lg" [(ngModel)]="hours" name="hours"  value="0" min="00" required/>
        </label>
      <input type="submit" class="btn btn-lg btn-danger" value="Set Alarm" (click)="onSetAlarm()">
    </div>
  </div>
</div>
