
.home__component {
  height: 100%;
}
.container {
  display:inline-flex;
  align-items: center;
  justify-content:center;
}

#clock {
    display: inline-flex;
    font-family: 'Abril Fatface', cursive;
    color: #CB0000;
    text-align: center;
    font-size: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 0px rgba(0, 169, 235, 1);
    }

.weatherApi {
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  list-style-type:none;
  color:white;

}
.colon {
				text-align: center;
				animation: blink 2s infinite;
      }
        @keyframes blink {
	0%   { opacity: 0; }
	30%  { opacity: 1; }
	50%  { opacity: 0; }
	70%  { opacity: 1; }
	100% { opacity: 0; }
}
