html,body {
    height: 100%;
}
body {
    background: #212121;
    /* background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%); */
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Abril Fatface', cursive;
    color: #84754E;
    text-align: center;
    font-size: 10em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 6px 3px 4px rgba(224, 185, 155, 0.66);
    }
