<div class="container">
  <div clas="row justify-content-center">
      <div *ngIf="weather" class="weatherApi col align-self-end">
        <p>
          <span class="location">{{weather.location.name}}</span>
          <span class="country">{{weather.location.country}}</span>
          <span class="temp">{{weather.current.temp_c}}&deg;</span>
          <span class="condition">{{weather.current.condition.text}}</span>
        <!-- <li>{{weather.current.condition.icon}}</li> -->
      </div>
    <div *ngIf="timer" id="clock">
      <p class="clock">{{timer.hours}}<span class="colon">:</span>{{timer.minutes}}<span class="colon">:</span>{{timer.seconds}}</p>
    </div>
  </div>
</div>
