<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="row">
    <div class="bg-dark p-4 col-sm-6">
      <h4 class="text-white">Clock'n'Roll</h4>
      <span class="text-muted">Your Rock timer!!</span>
    </div>
    <div class="bg-dark p-4 col-sm-6">
      <img class="logoRock col-md-2" src="../../assets/img/idea.png">
    </div>
  </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="app-signup">Sign up</a>
    </li>
  </ul> -->
  </nav>
</div>
