
<nav class="navbar bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/titleclock.png" width="150" height="auto" class="d-inline-block align-top" alt="">
  </a>
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/signup']">Sign Up</a>
  </li>
</ul>
</nav>
