<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <form (ngSubmit)="onSubmitSignup(signupForm)" #signupForm="ngForm">
      <div class="form-group" [class.has-error]="email.errors && email.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required
            email>
        </div>
        <label class="control-label" *ngIf="email.errors && email.touched">
          <ul>
            <li *ngIf="email.errors.required">Required</li>
            <li *ngIf="email.errors.email">Invalid email format</li>
          </ul>
        </label>
      </div>

      <div class="form-group" [class.has-error]="password.errors && password.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel"
            required>
        </div>
        <label class="control-label" *ngIf="password.errors && password.touched">
          <ul>
            <li *ngIf="password.errors.required">Required</li>
          </ul>
        </label>
      </div>

      <div class="form-group" class="has-error" *ngIf="apiError">
        <label class="control-label">
          {{ apiError }}
        </label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="!signupForm.valid">Sign up!</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        All ready have an account?
        <a [routerLink]="['/login']">Sign in</a>
      </div>
    </div>
  </div>
</div>
