<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form (ngSubmit)="onSubmitSignup(signupForm)" #signupForm="ngForm">
        <div class="form-group" [class.has-error]="email.errors && email.touched">
          <div class="input-group">
            <span class="input-group-addon">
        <i class="fa fa-user"></i>
      </span>
            <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required email>
          </div>
          <label class="control-label" *ngIf="email.errors && email.touched">
      <ul>
        <li *ngIf="email.errors.required">Required</li>
        <li *ngIf="email.errors.email">Invalid email format</li>
      </ul>
    </label>
        </div>
        <div class="form-group" [class.has-error]="password.errors && password.touched">
          <div class="input-group">
            <span class="input-group-addon">
      <i class="fa fa-lock"></i>
    </span>
            <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
          </div>
          <label class="control-label" *ngIf="password.errors && password.touched">
    <ul>
      <li *ngIf="password.errors.required">Required</li>
    </ul>
  </label>
        </div>
        <div class="form-group row justify-content-center">
            <label class="hours">
              <input type="time" class="form-control input-lg" [(ngModel)]="hours" name="hours"  value="0" min="00" required/>
            </label>
          <input type="submit" class="btn btn-lg btn-danger" value="Set Alarm">
          <input type="submit" class="btn btn-lg btn-warning" value="Off Alarm">
        </div>
        <div class="form-group" class="has-error" *ngIf="apiError">
          <label class="control-label">
      {{ apiError }}
    </label>
        </div>
    
        <hr>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <br>
        <br>
        <div class="form-actions">
          <button type="submit" class="btn btn-block btn-primary" [disabled]="!signupForm.valid" [routerLink]="['/home']">OK!</button>
        </div>
        <div class="form-group" class="has-error" *ngIf="apiError">
          <label class="control-label">
          {{ apiError }}
        </label>
        </div>
      </form>
      <div class="form-group row justify-content-center">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <hr>
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              Already have an account?
              <a [routerLink]="['/login']">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
