/* You can add global styles to this file, and also import other style files */

html, body {

}
.control-label {
  color:white;
}
body {
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  background-image: url('/assets/img/wallpa1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  color: #CB0000;
}
.container {
  display: inline-flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
}

.btn-group-lg>.btn, .btn-lg {
  margin: 2px 2px 2px 3px;
}
.form-control {
  padding: 2.375rem .75rem;
}
#clock{
left: 50%;
top: 50%;
}

/* Aquí van las pantallas normales */


@media only screen and ( max-width: 1024px ) and (orientation: landscape)  {
  body {
    background-size: 100%;
    background-repeat: space;
  }

  #clock{
  left: 50%;
  top: 32%;
  }
}
  /* Aquí van los estilos para iPad horizontal */
/*
@media only screen and ( max-width: 768px ) {
  body {
    background-color: #2e2e38;
    background-repeat: repeat;
  }

  #clock{
  left: 50%;
  top: 40%;
  font-size: 5rem;
  }
}
  /* Aquí van los estilos para iPad vertical */

/*
@media only screen and ( max-width: 480px ) {
  body {
    background-size: 100%;
    background-color: #2e2e38;
  }
  #clock {
    left: 50%;
    top: 20%;
  }
}
  /* Aquí van los estilos para iPhone horizontal */

/*
@media only screen and ( max-width: 320px ) {
  body {
    background-color: #2e2e38;
  }
  #clock {
    left: 50%;
    top: 20%;
    position: relative;
  }
  } **/
  /* Aquí van los estilos para iPhone vertical */
