/* You can add global styles to this file, and also import other style files */

html, body {

}

body {
  font-family: 'Abril Fatface', cursive;
  background-image: url('/assets/img/wallpa1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #CB0000;

}
